.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding-top: 100px;
}

.item {
  margin: 1em;
}

.item img {
  width: 100%;
  height: auto;
  box-shadow: 10px 5px 15px gray;
}

.item-page {
  justify-content: center;
}

.item-page h1 {
  text-align: center;
}

.item-info {
  justify-content: space-between;
  /* margin: 0 2rem; */
}



@media only screen and (min-width: 1024px) {

  p   {
    font-family: "Sinhala MN"
    

}

  .items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
  }

}