.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding-top: 100px;
}

.item {
  margin: 1em;
}

.item img {
  width: 100%;
  height: auto;
  box-shadow: 10px 5px 15px gray;
}

.item-page {
  height: 100%;
}

.seller-info {
  justify-content: space-evenly;
}

.item-page h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

hr {
  width: 100vw;
}

.item-detail-photos img {
  width: 40%;
  height: auto;
}



@media only screen and (min-width: 1024px) {

  p   {
    font-family: "Sinhala MN"
    

}

  .items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
  }

}