.subheader {
    display: flex;
    background: #f9f5ff;
    padding: 20px;
    align-items: center;
    font-family: 'Sinhala MN';
    justify-content: space-between;
    height: 10vh;
}    
.subheader-text, .categories {
    display: flex;
    flex-direction: column;
}
.subheader-text {
    justify-content: flex-start;
}
.categories {
    justify-content: flex-start;

}
p {
    font-family: "Sinhala MN";
    color: rgba(116, 0, 198)

}


.styling-div {
    display: flex;
    flex-direction: column;
}

select {
    margin-top: 10px;
    padding: 5px;
    width: 50%;
    border-style: solid;
    border-color:black;
}

label {
    color: rgba(116, 0, 198)
}
