.form-background {
  background-color: rgb(248, 245, 254);
  margin: 2rem auto;
  padding: 1rem 3rem;
  align-items: center;
  width: 50%;
  border-radius: 20px;
  border: 1px solid gray;
}

.form-background h3 {
  margin: 0;
  /* margin-bottom: 1rem; */
}

.auth-form {
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.auth-form > input {
  width: 90%;
  margin: .8em;
  padding: .8em;
  box-shadow: 5px 5px 8px rgb(100, 100, 100);
}

.auth-button {
  margin: .8em;
  padding: 1em 3em;
  background-color: rgb(209, 196, 248);
  border-radius: 20px;
  border: 1px solid gray;
  box-shadow: 5px 5px 8px rgb(100, 100, 100);
}